.container{
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}


.box img{
width: 350px;
height: 350px;
object-fit: cover;
}
.box{
    display:flex;
    gap: 20px;
}

.input-search{
    outline: none;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 50px;
    width: 100%;
    padding: 0px 10px;
}